# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [5]:
# for keyword, counter/iterator, in keyword, object
for i in range(10):
    print(i)

print("\n")
name = "Ryan Rhoades"
for letter in name:
    if letter == " ":
        print("This is a space")
    else:
        print(letter)

0
1
2
3
4
5
6
7
8
9


R
y
a
n
This is a space
R
h
o
a
d
e
s

##### Using 'in' keyword

In [6]:
#in is what accesses the items in an iterable

for num in range(15):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### Continue Statement

In [7]:
#continue
for i in range(5):
    print(i)

for i in range(10):
    if i == 5 or i == 6:
        continue
    print(i)

0
1
2
3
4
0
1
2
3
4
7
8
9

##### Break Statement

In [8]:
for i in range(100):
    if i == 23:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

##### Pass Statement

In [10]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(1234):
    pass

for i in range(10):
    print(10)

10
10
10
10
10
10
10
10
10
10

##### Double For Loops

In [14]:
for i in range(5):
    for j in range(5):
        print(i,"is i and ",j," is j")

0 is i and  0  is j
0 is i and  1  is j
0 is i and  2  is j
0 is i and  3  is j
0 is i and  4  is j
1 is i and  0  is j
1 is i and  1  is j
1 is i and  2  is j
1 is i and  3  is j
1 is i and  4  is j
2 is i and  0  is j
2 is i and  1  is j
2 is i and  2  is j
2 is i and  3  is j
2 is i and  4  is j
3 is i and  0  is j
3 is i and  1  is j
3 is i and  2  is j
3 is i and  3  is j
3 is i and  4  is j
4 is i and  0  is j
4 is i and  1  is j
4 is i and  2  is j
4 is i and  3  is j
4 is i and  4  is j

### While Loops

In [15]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0

while counter < 11:
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10
11

##### looping 'While True'

In [20]:
# true as a condition for while loop to run
game_over = True
counter = 0
while game_over:
    counter += 1
    print("infinite loop")
    if counter == 10:
        
        game_over = False

infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop

##### While & For Loops Used Together

In [21]:
j = 0

while j < 10:
    print("\n while loop iteration: " + str(j))
    for i in range(2):
        print("For loop iteration: " + str(i))
    
    j+= 1

 while loop iteration: 0
For loop iteration: 0
For loop iteration: 1

 while loop iteration: 1
For loop iteration: 0
For loop iteration: 1

 while loop iteration: 2
For loop iteration: 0
For loop iteration: 1

 while loop iteration: 3
For loop iteration: 0
For loop iteration: 1

 while loop iteration: 4
For loop iteration: 0
For loop iteration: 1

 while loop iteration: 5
For loop iteration: 0
For loop iteration: 1

 while loop iteration: 6
For loop iteration: 0
For loop iteration: 1

 while loop iteration: 7
For loop iteration: 0
For loop iteration: 1

 while loop iteration: 8
For loop iteration: 0
For loop iteration: 1

 while loop iteration: 9
For loop iteration: 0
For loop iteration: 1

##### The Range Function

In [4]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
#for i in range(10):
#    print(i)
    
#for i in range(2, 10):
#    print(i)
    
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### String Manipulation Exercise

In [6]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [8]:
our_list = []

names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(names)
print(numbers)

stuff = [1, 3, 4.5, 7.6, "cool Sryff", ["hello", "goodbye"]]
print(stuff)

['Ryan', 'Alex', 'Kate', 'Saraa', 'Sam', 'Gus']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 4.5, 7.6, 'cool Sryff', ['hello', 'goodbye']]

##### Indexing a List

In [20]:
# [start: stop: step] --> last item [-1]
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]
print(names[1])
name = names[0]
print(name)
print(names[-1])

print("\n")

print(names[1:])
new_names = names[2:]
print(new_names)

print("\n")

print(names[:2])

print("\n")

print(names[1::2])

print("\n")

print(names[::-1])
reverse_list = names[::-1]
print(reverse_list)

Alex
Ryan
Gus


['Alex', 'Kate', 'Saraa', 'Sam', 'Gus']
['Kate', 'Saraa', 'Sam', 'Gus']


['Ryan', 'Alex']


['Alex', 'Saraa', 'Gus']


['Gus', 'Sam', 'Saraa', 'Kate', 'Alex', 'Ryan']
['Gus', 'Sam', 'Saraa', 'Kate', 'Alex', 'Ryan']

### List Methods

##### .append()

In [23]:
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

names.append("Derrick")
print(names)

names.append("Aryan")
print(names)

['Ryan', 'Alex', 'Kate', 'Saraa', 'Sam', 'Gus', 'Derrick']
['Ryan', 'Alex', 'Kate', 'Saraa', 'Sam', 'Gus', 'Derrick', 'Aryan']

##### .insert()

In [25]:
#our_list.insert(index, value)
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]
names.insert(2, "Marc")
print(names)

print(len(names))

names.insert(len(names), "Eduardo")
names.append("Eduardo")

print(names)

['Ryan', 'Alex', 'Marc', 'Kate', 'Saraa', 'Sam', 'Gus']
7
['Ryan', 'Alex', 'Marc', 'Kate', 'Saraa', 'Sam', 'Gus', 'Eduardo', 'Eduardo']

##### .pop()

In [29]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

names.pop(0)
print(names)

popped_friend = names.pop(2)
print(popped_friend)
print(names)

names.pop()
print(names)

['Alex', 'Kate', 'Saraa', 'Sam', 'Gus']
Saraa
['Alex', 'Kate', 'Sam', 'Gus']
['Alex', 'Kate', 'Sam']

##### .remove()

In [33]:
# value to be removed, not an index
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']
#names.remove("Bob")
#print(names)

#for name in names:
#    if name == "Bob":
#        names.remove(name)
        
#print(names)

while "Bob" in names:
    names.remove("Bob")
print(names)

['Billy', 'Berry', 'Bertha', 'Bert']

### Working With Lists

##### del()

In [34]:
# index to be removed, not value 
names = ['Bob', 'Billy', 'Berry', "Bob", "Bertha", 'Bob', "Bob", 'Bert']
del(names[0])
print(names)

['Billy', 'Berry', 'Bob', 'Bertha', 'Bob', 'Bob', 'Bert']

##### min()

In [36]:
# return the smallest item in a list
numbers = [2, 5, 3, 1, 12, 54]
print(min(numbers))

names = ["Alpha", "Zoop", "winifred", "alfred"]
print(min(names))

1
Alpha

##### max()

In [38]:
# returns largest item in a list
numbers = [2, 5, 3, 1, 12, 54]
print(max(numbers))

names = ["Alpha", "Zoop", "winifred", "alfred"]
print(max(names))

54
winifred

##### sum()

In [39]:
# return the sum of all numbers in a list
numbers = [2, 5, 3, 1, 12, 54]

print(sum(numbers))

77

##### sorted()

In [43]:
#sorted will return a new sorted list, create a new variable
numbers = [2, 5, 3, 1, 12, 54]

print(sorted(numbers))
print("\n")

print(numbers)
print("\n")

sorted_list = sorted(numbers)
print(sorted_list)
print("\n")

[1, 2, 3, 5, 12, 54]


[2, 5, 3, 1, 12, 54]


[1, 2, 3, 5, 12, 54]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [45]:
#.sort() will sort the original list
numbers = [2, 5, 3, 1, 12, 54]

numbers.sort(reverse=True)

print(numbers)

#Cannot do this
#sorted_list = numbers.sort()
#print(sorted_list)

[54, 12, 5, 3, 2, 1]

##### Copying a List

In [46]:
# [:] copies a list, doesn't alter original'
numbers = [2, 5, 3, 1, 12, 54]

list_copy = numbers[:]
print("This is my original list", numbers)
print(f"This is my copy: {list_copy}")

This is my original list [2, 5, 3, 1, 12, 54]
This is my copy: [2, 5, 3, 1, 12, 54]

##### Looping Through Lists

In [58]:
#Three ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

#Looping by value
for name in names:
    print(name)

#Looping by index with range(len)
#print(len(names))
#for i in range(5):
#    print(i)
print("\n")

for i in range(len(names)):
    print(names[i])
print("\n")

#enumerate

for i, name in enumerate(names):
    print(i, name)
print("\n")

print(list(enumerate(names)))

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu


[(0, 'Han Solo'), (1, 'Leia Organa'), (2, 'Luke Skywalker'), (3, 'Lando Calrissian'), (4, 'Mace Windu')]

##### 'in' keyword

In [60]:
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

if "Jeremy" in names:
    print("Hello Kate")
elif "Gus" in names:
    print("Good Day, Gus")
else:
    print("So long and thanks for all the fish")

Good Day, Gus

##### 'not in' keyword

In [61]:
names = ["Ryan", "Alex", "Kate", "Saraa", "Sam", "Gus"]

if "Jeremy" not in names:
    print("Sorry Jeremy")
else:
    print("Guten Tag, Jeremy")

Sorry Jeremy

##### Checking an Empty List

In [62]:
l_2 = []
l_3 = None

if l_2 == []:
    print("That is an empty list, would ya just look at it")
    
if l_3 == l_2:
    print("neat")
else:
    print("That is not neat")

That is an empty list, would ya just look at it
That is not neat

##### Removing Instances with a Loop

In [ ]:
#while, remove

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [65]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

new_list = []

for i in range(len(names)):
    if names[i] not in new_list:
        new_list.append(names[i])
print(new_list)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [68]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = []

for num in nums:
    nums_squared.append(num**2)

print(nums_squared)

nums_squared2 = [num**2 for num in nums]
print(nums_squared2)


nums_squared3 = [num**2 for num in nums if num%2==0]
print(nums_squared3)

[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

In [69]:
print([num**2 for num in nums if num%2==0])

[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [73]:
tup_1 = (1, 2, 3)
tup_2 = 4, 5, 6

print(tup_1)
print(tup_2)

print(type(tup_1))

for num in tup_1:
    print(num)
    
print(tup_1[1])

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
1
2
3
2

In [74]:
#things you cannot do with tuples
#you cannot alter them
#you cannot add to them
#you cannot remove from them

tup_1=(1, 2, 3)

tup_1.append(1)

AttributeError: 'tuple' object has no attribute 'append'

##### sorted()

In [78]:
tup = (20, 5, 1, 10, 95, 123)

sorted_tup = sorted(tup)
print(sorted_tup)
new_tup = tuple(sorted_tup)

print(new_tup)

[1, 5, 10, 20, 95, 123]
(1, 5, 10, 20, 95, 123)

##### Adding values to a Tuple

In [79]:
my_list = [1, 2, 3]
my_list2 = [4, 5, 6]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 6]

In [81]:
tup = (20, 5, 1, 10, 95, 123)
print(tup)
tup = tup + (6,)

print(tup)

(20, 5, 1, 10, 95, 123)
(20, 5, 1, 10, 95, 123, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [82]:
alist = [1,11,14,5,8,9]

filtered_list = []
for i in alist:
    if i < 10:
        filtered_list.append(i)

print(filtered_list)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [84]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_3 = l_1 + l_2

l_3.sort()

print(l_3)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [88]:
sum=([i**2 for i in range(1, 16)])
print(sum)

#Backup Option
for i in range(1, 16):
    print(i**2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [156]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

print([name2.strip().title() for name2 in names_list if "A" in name2.strip().title()])

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [126]:
for i in range(1, 101):
    if i == 1:
        print(i)
        continue
    for j in range(2, i):
        if i%j == 0:
            break
        elif j == i-1 and i%j != 0:
            print(i)

1
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97